#logo{
    width:200px;
    height:100px;
    margin-left:30vh;
}

.navButtons{
    width: 50px;
    margin-left: 5vh;
    margin-right: 5vh;
}

#marketing{
    margin-right:30vh;
}

.btn{
    width:200px;
}

.delete{
    width:20px;
}

.btn-success{
    background-color: #7DAB7A;
    border:none;
}